.navBar {
  padding: 0 calc(50% - 800px);
  background: #fff;
  position: relative;
  z-index: 3;
}

.navBar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 0 0;
  margin-bottom: 60px;
  list-style: none;
  position: relative;
  z-index: 3;

  li {
    width: calc((100% - 40px) / 3);

    &:last-child {
      text-align: right;
    }

    &:nth-child(2) {
      text-align: center;
    }
  }

  &:first-child {
    a {
      display: inline-block;
      width: 100px;
      text-align: center;
      margin-left: 32px;
      padding-bottom: 30px;
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid transparent;
      transition: all 0.2s ease;

      &:hover {
        color: #5ece7b;
        border-color: #5ece7b;
      }

      &:first-child {
        margin: 0;
      }
    }
  }
}

.navBar_currency {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  z-index: 3;
  cursor: pointer;

  img {
    &:nth-child(2) {
      margin: 0 0 5px 10px;
    }
  }
}

.active {
  color: #5ece7b !important;
  border-color: #5ece7b !important;
}

.currency__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  width: 110px;
  top: 70px;
  right: 280px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  background: #fff;

  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    display: block;
    text-align: left;
    padding: 20px 20px;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(209, 206, 206);
    }
  }
}

.navBar_cart {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1d1f22;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    right: -10px;
    z-index: 1;
    top: -6px;
    transition: all 0.2s ease;
  }

  img {
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}

.modal_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 23px;
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;

  span {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
  }
}

.modal_actions {
  display: flex;
  justify-content: space-between;
  background: #fff;

  div {
    &:first-child {
      button {
        background: #fff;
        border: 1px solid #1d1f22;
      }
    }

    &:nth-child(2) {
      button {
        color: #fff;
        background: #5ece7b;
        border: 1px solid transparent;
      }
    }

    button {
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      height: 50px;
      width: 220px;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(0.97);
      }
    }
  }
}

.modal_totalPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.modal_footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 20px 0;
}
